body {
  font-family: 'Cormorant Garamond', sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 18px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
  font-weight: 100;
  text-align: left;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: #f1f1f3;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #f1f1f3;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f1f1f3;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #f1f1f3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: #f1f1f3;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #f1f1f3;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
}

a {
  color: #e1b788;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 16vh;
  padding-bottom: 16vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #09090a;
}

.section.full-width-slider {
  position: relative;
  display: none;
  height: 600px;
}

.section.split {
  height: 700px;
  min-height: 85vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section.split.highlights {
  height: auto;
}

.section.hero-section {
  height: 100vh;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #09090a;
}

.section.above-lifestyle {
  height: 80vh;
  max-height: 700px;
  min-height: auto;
  padding-top: 16vh;
  padding-bottom: 16vh;
}

.section.life-style {
  z-index: 2;
  overflow: visible;
  padding-top: 16vh;
  padding-bottom: 16vh;
}

.section.form {
  background-color: #e1b788;
  -webkit-perspective: 843px;
  perspective: 843px;
  -webkit-transform: perspective(1118px);
  transform: perspective(1118px);
}

.section.transform-perspective {
  -webkit-perspective: 804px;
  perspective: 804px;
  -webkit-transform: perspective(1137px);
  transform: perspective(1137px);
}

.section.licensing {
  max-height: none;
  min-height: 100vh;
}

.text-wrap {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 575px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-wrap.neighborhood {
  padding: 40px;
  border-radius: 2px;
  background-color: rgba(9, 9, 10, 0.8);
  opacity: 1;
}

.video-lightbox-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.video-lightbox-link:hover {
  text-decoration: none;
}

.white-text {
  color: #fff;
}

.play-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.07em;
  border-color: #fff;
  border-radius: 2px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.play-circle:hover {
  border-color: #e1b788;
  background-color: #e1b788;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  padding: 9px 4vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  padding: 10px 14px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #e1b788;
  text-decoration: none;
}

.nav-link.last {
  margin-right: 10px;
}

.div-block {
  width: 10px;
  height: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 0px;
  background-color: #e1b788;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.div-block.hero {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.full-width-slider {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  height: auto;
  background-color: transparent;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.slider-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/mf-site3-01-01-01-01-01-01-01-01-01-01-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slider-image._2 {
  background-image: url('../images/mf-site3-01-01-01-01-01-01-01-01.jpg');
}

.slider-image._3 {
  background-image: url('../images/mf-site3-01-01.jpg');
}

.slide-nav {
  margin-bottom: 16px;
  font-size: 12px;
}

.slide-nav._2 {
  display: none;
  margin-bottom: 15px;
  padding-left: 40px;
  text-align: left;
}

._35-percent {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e1b788;
}

.slider {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: auto;
}

.slider-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.slider-image-wrap {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.half-slider-image {
  height: 100%;
  background-image: url('../images/mf-site3-01-01-01-01-01-01-01-01-01-01-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.half-slider-image._2 {
  background-image: url('../images/ralph-ravi-kayden-FqqiAvJejto-unsplash.png');
}

.half-slider-image._3 {
  background-image: url('../images/ralph-ravi-kayden-MyeOnGcibCQ-unsplash.png');
}

.half-slider-image.slide-2 {
  background-image: url('../images/mf-site3-01-01-01-01-01-01-01-01.jpg');
}

.half-slider-image.slide-2.slide-image-2 {
  background-image: url('../images/mf-site3-01-01-01-01-01-01-01-01-01.jpg');
}

.highlights-image-wrap {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/mf-site3-01-01-01-01-01-01-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.highlight-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.highlight {
  padding-right: 40px;
  padding-left: 40px;
  font-family: Montserrat, sans-serif;
  color: #f1f1f3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.small-div {
  width: 5px;
  height: 5px;
  background-color: #e1b788;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

._30px-div {
  width: 100%;
  height: 30px;
}

.form-block {
  position: relative;
  z-index: 2;
  width: 700px;
}

.field-label {
  font-family: 'Playfair Display', sans-serif;
  color: #09090a;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.field-label.white-text {
  color: #fff;
}

.text-field {
  height: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: #09090a;
  border-radius: 0px;
  background-color: transparent;
  color: #09090a;
  font-size: 24px;
}

.text-field:focus {
  border-color: #09090a;
  background-color: rgba(9, 9, 10, 0.59);
}

.text-field.color-boarder {
  border-color: #e1b788;
  color: #fff;
}

.text-field.color-boarder:active {
  border-color: #e1b788;
}

.text-field.color-boarder:focus {
  border-color: #e1b788;
  background-color: rgba(225, 183, 136, 0.6);
}

.field-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

._50-percent {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

._100-percent {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.button {
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #f1f1f3;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: 'Playfair Display', sans-serif;
  color: #f1f1f3;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.button:hover {
  border-color: #e1b788;
  background-color: #e1b788;
  color: #09090a;
  text-decoration: none;
}

.button.submit {
  margin-top: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-color: #09090a;
  color: #09090a;
}

.button.submit:hover {
  background-color: #09090a;
  color: #f1f1f3;
}

.button.submit-form-2 {
  margin-top: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(241, 241, 243, 0.3);
  background-color: #09090a;
  font-family: 'Cormorant Garamond', sans-serif;
}

.stencil {
  position: absolute;
  left: -192px;
  top: -171px;
  right: auto;
  bottom: auto;
}

.stencil._1 {
  left: -470px;
  top: auto;
  right: auto;
  bottom: 34px;
  z-index: 2;
}

.stencil._2 {
  left: auto;
  top: auto;
  right: -940px;
  bottom: -203px;
  z-index: 2;
}

.stencil._3 {
  left: -534px;
  top: auto;
  right: auto;
  bottom: -308px;
}

.stencil._4 {
  left: auto;
  top: -13px;
  right: -522px;
  bottom: auto;
}

.stencil._5 {
  left: -579px;
  top: -383px;
  right: auto;
  bottom: auto;
}

.stencil._6 {
  left: auto;
  top: auto;
  right: -502px;
  bottom: -260px;
}

.play {
  margin-left: 3px;
}

.play-film {
  color: #fff;
  line-height: 16px;
  letter-spacing: 2.5px;
}

.lifestyle-image-wrap-1 {
  position: absolute;
  left: 1.3em;
  top: -9.2em;
  right: auto;
  bottom: auto;
  z-index: 3;
  overflow: hidden;
  width: 380px;
  height: 380px;
  border-style: solid;
  border-width: 4px;
  border-color: #e1b788;
  border-radius: 50%;
}

.lifestyle-image-1 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/banner-1-01-01.jpg');
  background-position: 0% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.lifestyle-image-wrap-2 {
  position: absolute;
  left: auto;
  top: -8.3em;
  right: 4.1em;
  bottom: auto;
  z-index: 3;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-style: solid;
  border-width: 4px;
  border-color: #e1b788;
  border-radius: 50%;
}

.lifestyle-image-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/banner-1-01-01-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.lifestyle-image-wrap-3 {
  position: absolute;
  left: 3.8em;
  top: auto;
  right: auto;
  bottom: -6.6em;
  z-index: 3;
  overflow: hidden;
  width: 240px;
  height: 240px;
  border-style: solid;
  border-width: 4px;
  border-color: #e1b788;
  border-radius: 50%;
}

.lifestyle-image-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/mf-site3-01-01-01-01-01.jpg');
  background-position: 30% 50%;
  background-size: cover;
}

.lifestyle-image-wrap-4 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0.5em;
  bottom: -8.2em;
  z-index: 3;
  overflow: hidden;
  width: 350px;
  height: 350px;
  border-style: solid;
  border-width: 4px;
  border-color: #e1b788;
  border-radius: 50%;
}

.lifestyle-image-4 {
  position: absolute;
  left: 0em;
  top: 0%;
  right: 0em;
  bottom: 0%;
  background-image: url('../images/nft-1-01.jpg');
  background-position: 50% 80%;
  background-size: cover;
}

.popup-form {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #09090a;
  opacity: 1;
}

.close {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.close-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding: 25px 60px 25px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.close-line {
  width: 2px;
  height: 40px;
  background-color: #e9ecf5;
  -webkit-transform: translate(0px, -6px) rotate(45deg);
  -ms-transform: translate(0px, -6px) rotate(45deg);
  transform: translate(0px, -6px) rotate(45deg);
}

.close-line.line-2 {
  -webkit-transform: translate(0px, -6px) rotate(-45deg);
  -ms-transform: translate(0px, -6px) rotate(-45deg);
  transform: translate(0px, -6px) rotate(-45deg);
}

.success-message {
  margin-top: 20px;
  background-color: #09090a;
  color: #f1f1f3;
  font-size: 24px;
}

.hamburger-wrap {
  display: none;
}

.dark-text {
  font-family: 'Playfair Display', sans-serif;
  color: #09090a;
}

.slider-text-block {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 60%;
  margin: 25% -142px 0px 8vw;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #09090a;
  box-shadow: 1px 1px 20px 12px rgba(0, 0, 0, 0.06);
}

.slider-text-block.highlights {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80%;
  margin-top: 13%;
  margin-right: 8vw;
  margin-left: -242px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.neighborhood-background-video {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  height: 100%;
  opacity: 1;
}

.copyrights {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}

.copyrights-link {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #deb887;
  font-weight: 500;
  text-decoration: none;
}

.copyrights-link:hover {
  color: #e1b788;
}

.text-block-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.no-bottom-margin {
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
}

.hero-video-contain {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 50%;
  height: 100%;
  border-style: none;
  border-width: 3px;
  border-color: #e1b788;
  background-color: transparent;
  -webkit-perspective: 608px;
  perspective: 608px;
  -webkit-transform: perspective(1098px);
  transform: perspective(1098px);
}

.hero-video-wrap {
  position: relative;
  left: 0.9em;
  top: 30.2%;
  bottom: 0em;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 90%;
  max-height: 700px;
  border-style: solid;
  border-width: 3px;
  border-color: #e8b978;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #9b642e;
  -webkit-transform: rotateX(-11deg) rotateY(-14deg) rotateZ(6deg);
  transform: rotateX(-11deg) rotateY(-14deg) rotateZ(6deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hero-background-video {
  position: absolute;
  left: -116px;
  top: -148px;
  right: 0%;
  bottom: 0px;
  z-index: 2;
  width: 150%;
  height: 135%;
  opacity: 1;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

.hero-title-contain {
  position: relative;
  width: 45%;
  max-width: 500px;
  margin-left: 8vw;
}

.hero-paragraph {
  max-width: 475px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: left;
}

.hero-div-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hero-stencil {
  position: absolute;
  left: -62px;
  top: 336px;
  right: auto;
  bottom: auto;
  z-index: 1;
  overflow: hidden;
  width: 350px;
  height: 200px;
  border-style: solid;
  border-width: 3px;
  border-color: #e1b788;
  border-radius: 0px;
  -webkit-transform: rotateX(0deg) rotateY(10deg) rotateZ(77deg);
  transform: rotateX(0deg) rotateY(10deg) rotateZ(77deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-home {
  left: 4px;
  z-index: 0;
  height: 300px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 200px;
  -webkit-transform: rotateX(9deg) rotateY(17deg) rotateZ(-6deg);
  transform: rotateX(9deg) rotateY(17deg) rotateZ(-6deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-home-2 {
  left: 1.1em;
  top: 9.9em;
  width: 450px;
  height: 400px;
  border-bottom-left-radius: 150px;
}

.div-block-home-3 {
  border-bottom-left-radius: 0px;
}

.hero-stencill {
  left: 3.1em;
  top: 15.1em;
  width: 550px;
  border-color: #e8b978;
}

.logo {
  max-width: 150%;
}

.social-media-links {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social-media-link {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.social-media-link:hover {
  color: #e1b788;
}

.social-media-link.w--current {
  color: #d19b52;
  text-decoration: line-through;
}

.color {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(127, 150, 145, 0.24);
  border-radius: 50%;
  background-color: #f2f4f4;
}

.color._09090a {
  border-color: rgba(241, 241, 243, 0.2);
  background-color: #09090a;
}

.color.f1f1f3 {
  background-color: #f1f1f3;
  color: #364c4c;
}

.color.e1b788 {
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.14);
  background-color: #e1b788;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._20px-div {
  width: 100%;
  height: 20px;
}

.color-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  margin: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.color-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f1f1f3;
  font-weight: 700;
}

.style-block {
  width: auto;
  min-width: 80%;
  margin: 24px 8vw;
  padding: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #e1b788;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
}

.color-hex {
  color: #e1b788;
  font-weight: 400;
}

.colors-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-right: 1px none hsla(0, 0%, 60.8%, 0.3);
  border-bottom: 1px none hsla(0, 0%, 60.8%, 0.3);
}

.align-left {
  text-align: left;
}

.heading-wrap {
  margin-right: 8vw;
  margin-left: 8vw;
}

.div-block-image-licensing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #09090a;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

._404-paragraph {
  color: #e1b788;
}

.popup-form-conatin {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 200000000;
  display: none;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #09090a;
}

.image {
  width: 920px;
  max-height: 1000px;
  max-width: 239%;
  margin-top: -17px;
  padding-top: 6px;
}

.heading {
  font-family: 'Playfair Display', sans-serif;
}

.text-block {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.text-block-2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
}

.text-block-3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
}

.text-block-4 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
}

.heading-2 {
  font-family: 'Playfair Display', sans-serif;
}

.heading-3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 32px;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.heading-4 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 32px;
}

.heading-5 {
  font-family: 'Playfair Display', sans-serif;
}

.heading-6 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 32px;
}

.paragraph-2 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.heading-7 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 32px;
}

.heading-8 {
  font-family: 'Playfair Display', sans-serif;
}

.heading-9 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 32px;
}

.paragraph-3 {
  font-family: 'Playfair Display', sans-serif;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 60px;
  }

  .section {
    padding-top: 12vh;
    padding-bottom: 12vh;
  }

  .section.full-width-slider {
    height: 500px;
  }

  .section.hero-section {
    height: auto;
    padding-top: 16vh;
  }

  .section.above-lifestyle {
    height: auto;
    max-height: none;
    padding-bottom: 25vh;
  }

  .section.life-style {
    overflow: visible;
    padding-top: 20vh;
    padding-bottom: 25vh;
  }

  .section.form {
    padding-top: 14vh;
    padding-bottom: 10vh;
  }

  .navbar {
    padding-right: 12px;
  }

  .nav-link.last {
    margin-right: 23px;
  }

  .div-block.hero {
    margin-top: 18px;
    margin-bottom: 28px;
  }

  .full-width-slider {
    height: auto;
  }

  ._35-percent {
    width: 45%;
    padding: 24px;
  }

  .button {
    margin-top: 18px;
  }

  .footer {
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .stencil._1 {
    left: -326px;
    bottom: -50px;
    max-width: 50%;
  }

  .stencil._2 {
    right: -628px;
    bottom: 282px;
    max-width: 90%;
  }

  .stencil._3 {
    left: -410px;
    bottom: -343px;
    max-width: 70%;
  }

  .stencil._4 {
    top: -253px;
    right: -416px;
    max-width: 70%;
  }

  .stencil._5 {
    left: -492px;
    top: -304px;
    max-width: 80%;
  }

  .stencil._6 {
    right: -333px;
    bottom: -251px;
    max-width: 80%;
  }

  .lifestyle-image-wrap-1 {
    left: 1em;
    top: -7.5em;
    width: 300px;
    height: 300px;
  }

  .lifestyle-image-wrap-2 {
    top: -4.9em;
    right: 1.6em;
    width: 230px;
    height: 230px;
  }

  .lifestyle-image-wrap-3 {
    left: 1.4em;
    bottom: -3.3em;
    width: 250px;
    height: 250px;
  }

  .lifestyle-image-wrap-4 {
    right: 1.7em;
    bottom: -5.2em;
    width: 300px;
    height: 300px;
    opacity: 1;
  }

  .lifestyle-image-4 {
    background-position: 50% 80%;
    opacity: 1;
  }

  .popup-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-button {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(241, 241, 243, 0.1);
    background-color: #09090a;
  }

  .hamburger-wrap {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 27px;
    cursor: pointer;
  }

  .hamburger-line {
    width: 35px;
    height: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #fff;
  }

  .hamburger-line-2 {
    width: 30px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0px;
    background-color: #fff;
  }

  .hamburger-line-3 {
    width: 35px;
    height: 2px;
    padding: 0px;
    background-color: #fff;
  }

  .slider-text-block {
    margin-top: 30%;
    margin-left: 5vw;
  }

  .slider-text-block.highlights {
    margin-top: 16%;
  }

  .copyrights {
    padding-top: 32px;
    padding-bottom: 0px;
    text-align: center;
  }

  .hero-video-contain {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 102px;
  }

  .hero-video-wrap {
    left: 0em;
    height: 400px;
    -webkit-transform: rotateX(3deg) rotateY(-14deg) rotateZ(3deg);
    transform: rotateX(3deg) rotateY(-14deg) rotateZ(3deg);
  }

  .hero-background-video {
    left: -143px;
    top: -48px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  .hero-title-contain {
    width: 100%;
    max-width: 650px;
    margin-left: 5vw;
  }

  .hero-paragraph {
    max-width: none;
  }

  .div-block-home {
    left: 2.5em;
    top: 10.6em;
    display: none;
    width: 300px;
    height: 200px;
  }

  .social-media-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .button-wrapper {
    width: 40%;
  }

  .style-block {
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .heading-wrap {
    margin-right: 5vw;
    margin-left: 5vw;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 64px;
    line-height: 60px;
    text-align: center;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  h5 {
    text-align: center;
  }

  h6 {
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .section.split {
    height: 700px;
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section.split.highlights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .section.hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.above-lifestyle {
    padding-top: 60px;
    padding-bottom: 150px;
  }

  .section.life-style {
    padding-top: 90px;
    padding-bottom: 150px;
  }

  .section.form {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .section.transform-perspective {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .text-wrap {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  .text-wrap.neighborhood {
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .text-wrap.form-heading {
    position: static;
    margin-top: 0px;
  }

  .div-block {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .full-width-slider {
    height: auto;
  }

  ._35-percent {
    width: 100%;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .slider {
    height: auto;
  }

  .slider-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .highlights-image-wrap {
    height: 600px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  ._30px-div {
    height: 20px;
  }

  .form-block {
    position: static;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .field-wrap {
    margin-top: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  ._50-percent {
    width: 100%;
    margin-bottom: 20px;
  }

  .button {
    margin-top: 24px;
  }

  .button.submit {
    margin-top: 10px;
  }

  .button.submit-form-2 {
    margin-top: 6px;
  }

  .form {
    padding-bottom: 0px;
  }

  .footer {
    padding: 30px 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .stencil._1 {
    left: -45%;
    top: auto;
    right: auto;
    bottom: -8%;
    opacity: 1;
  }

  .stencil._2 {
    left: auto;
    top: -27%;
    right: -83%;
    bottom: auto;
    opacity: 1;
  }

  .stencil._3 {
    left: -61%;
    top: auto;
    right: auto;
    bottom: -34%;
    opacity: 1;
  }

  .stencil._4 {
    left: auto;
    top: -16%;
    right: -64%;
    bottom: auto;
    opacity: 1;
  }

  .stencil._5 {
    left: -61%;
    top: -64%;
    right: auto;
    bottom: auto;
    opacity: 1;
  }

  .stencil._6 {
    left: auto;
    top: auto;
    right: -70%;
    bottom: -45%;
    opacity: 1;
  }

  .lifestyle-image-wrap-1 {
    left: 1.4em;
    top: -5.6em;
    width: 200px;
    height: 200px;
    border-width: 3px;
  }

  .lifestyle-image-wrap-2 {
    top: -3.5em;
    right: 1.3em;
    width: 180px;
    height: 180px;
    border-width: 3px;
  }

  .lifestyle-image-wrap-3 {
    left: 0.9em;
    bottom: -2.7em;
    width: 180px;
    height: 180px;
    border-width: 3px;
  }

  .lifestyle-image-wrap-4 {
    right: 1.4em;
    bottom: -3.8em;
    width: 200px;
    height: 200px;
    border-width: 3px;
  }

  .lifestyle-image-4 {
    background-position: 50% 70%;
  }

  .popup-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    padding-top: 160px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .close-wrap {
    padding-right: 40px;
  }

  .nav-menu {
    padding-bottom: 20px;
  }

  .hamburger-line {
    height: 2px;
  }

  .slider-text-block {
    min-height: auto;
    margin-top: 18%;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .slider-text-block.highlights {
    margin-top: 10%;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .neighborhood-background-video {
    opacity: 0.7;
  }

  .copyrights {
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 24px;
    text-align: center;
  }

  .text-block-wrap {
    padding: 30px;
  }

  .hero-video-contain {
    margin-top: 45px;
  }

  .hero-title-contain {
    width: 90%;
    max-width: none;
    margin-left: 5vw;
    padding-right: 0vw;
  }

  .hero-paragraph {
    text-align: center;
  }

  .hero-div-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .social-media-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .social-media-link {
    margin-top: 14px;
    margin-bottom: 14px;
    padding-left: 0px;
    font-size: 20px;
  }

  .button-wrapper {
    margin-right: 0px;
  }

  .style-block {
    padding: 35px;
  }

  .align-left {
    text-align: center;
  }

  .utility-page-content {
    width: auto;
  }

  .popup-form-conatin {
    display: none;
    overflow: auto;
    min-height: auto;
    padding-bottom: 0px;
  }

  .div-block-style-guide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 54px;
    line-height: 54px;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;
  }

  h6 {
    text-align: center;
  }

  .section.full-width-slider {
    height: 400px;
  }

  .section.split {
    height: 700px;
  }

  .section.split.highlights {
    min-height: 900px;
  }

  .section.above-lifestyle {
    padding-bottom: 120px;
  }

  .section.life-style {
    padding-top: 130px;
    padding-bottom: 150px;
  }

  .section.transform-perspective {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .text-wrap {
    position: static;
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-wrap.form-heading {
    margin-top: 84px;
  }

  .nav-link.last.w--current {
    margin-right: 0px;
  }

  .full-width-slider {
    height: auto;
  }

  ._35-percent {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .slider-image-wrap {
    height: 60%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .highlights-image-wrap {
    height: 600px;
  }

  .highlight {
    padding-right: 0px;
    padding-left: 0px;
  }

  ._30px-div {
    height: 20px;
  }

  .field-label {
    text-align: center;
  }

  .text-field {
    height: 50px;
  }

  ._50-percent {
    margin-bottom: 18px;
  }

  .button {
    margin-top: 20px;
  }

  .button.submit-form-2 {
    margin-top: 0px;
  }

  .footer {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .stencil._1 {
    left: -62%;
    top: auto;
    right: auto;
    bottom: -17%;
    max-width: 90%;
  }

  .stencil._2 {
    left: auto;
    top: -11%;
    right: -66%;
    bottom: auto;
  }

  .stencil._3 {
    left: -46%;
    top: auto;
    right: auto;
    bottom: -15%;
  }

  .stencil._4 {
    left: auto;
    top: -10%;
    right: -48%;
    bottom: auto;
  }

  .stencil._5 {
    left: -56%;
    top: -23%;
    right: auto;
    bottom: auto;
  }

  .stencil._6 {
    left: auto;
    top: auto;
    right: -66%;
    bottom: -15%;
  }

  .lifestyle-image-wrap-1 {
    left: 0.9em;
    top: -3.4em;
    width: 180px;
    height: 180px;
  }

  .lifestyle-image-wrap-2 {
    top: -2.5em;
    right: 0.9em;
    width: 150px;
    height: 150px;
  }

  .lifestyle-image-wrap-3 {
    left: 0.7em;
    bottom: -2.1em;
    width: 150px;
    height: 150px;
  }

  .lifestyle-image-3 {
    background-position: 10% 50%;
  }

  .lifestyle-image-wrap-4 {
    right: 0.9em;
    bottom: -2.5em;
    width: 180px;
    height: 180px;
  }

  .popup-form {
    z-index: 200000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 95px;
    padding-bottom: 0px;
  }

  .close-wrap {
    padding: 20px 29px 12px 30px;
  }

  .nav-menu {
    padding-top: 8px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(241, 241, 243, 0.2);
  }

  .hamburger-line {
    height: 2px;
  }

  .slider-text-block {
    margin-top: 16%;
  }

  .slider-text-block.highlights {
    min-height: auto;
    margin-top: 16%;
  }

  .copyrights {
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 16px;
    text-align: center;
  }

  .text-block-wrap {
    padding: 50px 24px;
  }

  .hero-video-contain {
    margin-top: 60px;
  }

  .hero-background-video {
    left: -89px;
  }

  .logo {
    max-width: 90%;
  }

  .social-media-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .social-media-link {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .button-wrapper {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .color-wrapper {
    width: 50%;
  }

  .style-block {
    padding: 20px 9px;
  }

  .colors-contain {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .utility-page-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .popup-form-conatin {
    padding-bottom: 40px;
  }
}

@font-face {
  font-family: 'Myriadpro';
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Matter';
  src: url('../fonts/Matter-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Matter';
  src: url('../fonts/Matter-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Matter';
  src: url('../fonts/Matter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}